{% extends "auctions/layout.html" %}

{% block body %}
    <h2>{{ title }} Listings</h2>

    {% for auction in data %}
    <div onclick="window.location.href='/listings/{{auction.aid.id}}'" class="entry-content">
        <div>{{ auction.aid.id }}</div>
        <div>{{ auction.aid.name }}</div>
        <!-- <div>{{ auction.aid.imgURL }}</div> -->
        <img src="{{ auction.imgURL }}" style="width: 25%;"/>
        <div>{{ auction.aid.detail }}</div>
        <div>{{ auction.aid.starting }}</div>
    </div>
    {% endfor %}
{% endblock %}